*{
    margin: 0;
    padding: 0;
}

.recipe {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    padding: 20px 0;
}

img{
    display: block;
    width: 50%;
    margin: 20px auto;
}

h1{
    text-align: center;
    margin: 20px;
}

.description, .ingredients, .instructions, .nutrition{
    margin: 20px 50px;
}

.recipe-source{
    text-align: center;
    display: block;

    margin: 10px;
}

hr{
    width: 75%;
    margin: auto;
}