*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


.navbar{
    height: 64px;
    background-color: rgb(48, 48, 48);
}

.navbar .container {
    min-width: 800px;
    display: flex;
    justify-content: space-between;
}

.navbar .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .logo a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: x-large;
}

.navbar .container .logo :hover {
    align-items: center;
}

.navbar .container img {
    height: 64px;

}
.nav-list {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.nav-list li {
    height: 100%;
    display: flex;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    margin: auto 10px;
}

.nav-list li a:hover {
    color: rgb(221, 221, 221);
}

.food-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100,100,100);
    height: calc(100vh - 64px);
}

.food-name .container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.food-name .container-2 .food-desc{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 236, 219);

}

.food-desc h1 {
    font-size: 3rem;
    
}

.food-desc p {
    margin-top: 20px;
    opacity: 80%;
}

.food-name .container-2 img {
    width: 400px;
}

.section-2 {
    background-color: rgb(160, 160, 160);
    height: 75vh;
    display: flex;
}

.section-2 .container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.meta-data, .nutrition{
    padding: 20px;
    border-radius: 30px;
    margin: 40px;
    flex: 1;
    background-color: aliceblue;
    box-shadow: 5px 10px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.meta-data table, .meta-data h3{
    width: 70%;
    margin: 10px auto;
}

.nutrition table, .nutrition h3 {
    width: 70%;
    margin: 10px auto;
}


.section-3 {
    background-color: rgb(255, 236, 219);
    height: max-content;
    display: flex;
}

.section-3 .containter-2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ingredients, .instructions{
    padding: 20px 40px;
    border-radius: 30px;
    margin: 50px;
    flex: 1;
    background-color: aliceblue;
    box-shadow: 5px 10px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    background-color: rgb(48, 48, 48);
}

.footer .container-2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
}

.footer .container-2 a{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: #fff;
}

.footer .container-2 a:hover {
    color: rgb(190, 190, 190);
}

h3 {
    font-size: 2rem;
    text-align: center;
}

ul, ol { 
    margin: 20px 0;
}

.container { 
    max-width: 1100px;
    margin: 0 auto;
}

.container-2 { 
    max-width: 1400px;
    margin: auto;
}


